*.pyc
.vscode
gaussian-splatting-src/output
gaussian-splatting-src/build
gaussian-splatting-src/diff_rasterization/diff_rast.egg-info
gaussian-splatting-src/diff_rasterization/dist
gaussian-splatting-src/tensorboard_3d
gaussian-splatting-src/screenshots
.idea
