*.pyc
.vscode
gaussian_splatting_src/output
gaussian_splatting_src/build
gaussian_splatting_src/diff_rasterization/diff_rast.egg-info
gaussian_splatting_src/diff_rasterization/dist
gaussian_splatting_src/tensorboard_3d
gaussian_splatting_src/screenshots
gaussian_splatting_src/submodules/diff-gaussian-rasterization/build/
gaussian_splatting_src/submodules/diff-gaussian-rasterization/diff_gaussian_rasterization.egg-info/
gaussian_splatting_src/submodules/diff-gaussian-rasterization/dist/
.idea
.env
